In [14]:
from interchange.persistence.file import FileStorage
from interchange.visa import transform, extract, clean, calculate, interchange, store

layer = FileStorage.Layer

In [15]:
client_id = "SBSA"
file_id = "B6781ADDCFE0CD800BFA2968A6ED2816"

In [16]:
origin_layer = layer.STAGING
target_layer = layer.OPERATIONAL
client_id = client_id
file_id = file_id
transactions_subdir = "300-SMS_CLN_MESSAGES"
calculated_subdir = "400-SMS_CAL_MESSAGES"
interchange_subdir = "500-SMS_ITX_MESSAGES"
target_subdir = "SMS_MESSAGES"

In [17]:
print(
    origin_layer,
    target_layer,
    client_id,
    file_id,
    transactions_subdir,
    calculated_subdir,
    interchange_subdir,
    target_subdir,
)

staging operational SBSA B6781ADDCFE0CD800BFA2968A6ED2816 300-SMS_CLN_MESSAGES 400-SMS_CAL_MESSAGES 500-SMS_ITX_MESSAGES SMS_MESSAGES

In [18]:
from interchange.logs.logger import Logger
from interchange.persistence.file import FileStorage


log = Logger(__name__)
fs = FileStorage()

In [19]:
transactions = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=transactions_subdir,
)

2025-11-26 08:47:15,400 :: PID 25640 :: TID 26108 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-11-26 08:47:15,402 :: PID 25640 :: TID 26108 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-11-26 08:47:15,404 :: PID 25640 :: TID 26108 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-11-26 08:47:15,406 :: PID 25640 :: TID 26108 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database

In [20]:
transactions

,issuer_acquirer_indicator,mvv_code,remote_terminal_indicator,charge_indicator,product_id_sms,business_application_identifier,account_funding_source,affiliate_id,settlement_date_sms,draft_identifier_sms,...,application_draft_counter,application_interchange_profile_sms,cryptogram_draft_type,terminal_country_code,terminal_draft_date,cryptogram_amount,cryptogram_currency_code,cryptogram_cashback_amount,issuer_discretionary_data,issuer_script_results_sms
record,,,,,,,,,,,,,,,,,,,,,
0,A,,,,F,,D,4424630002,2025-11-18,385321443675101,...,0,,0,0,NaT,0.0,0,0.0,,
1,A,,,,F,,D,4424630002,2025-11-18,385321445950920,...,0,,0,0,NaT,0.0,0,0.0,,
2,A,,,,F,,D,7374180002,2025-11-18,385321456835123,...,0,,0,0,NaT,0.0,0,0.0,,
3,A,,,,F,,D,4028240002,2025-11-18,585321463117068,...,233,,0,0,NaT,0.0,0,0.0,,
4,A,,,,N,,D,4840020002,2025-11-18,385321464460423,...,293,,0,0,NaT,0.0,0,0.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,A,,,,E,,D,4529010004,2025-11-18,345322343424710,...,60,1800,1,710,2025-11-18,5050.0,710,0.0,,
35970,A,,,,E,,D,4519700004,2025-11-18,355322351475509,...,14,1800,1,710,2025-11-18,2500.0,710,0.0,,
35971,A,,,,E,,D,4519700004,2025-11-18,585322351546438,...,3,1800,1,710,2025-11-18,1550.0,710,0.0,,
35972,A,,,,E,,D,4786890004,2025-11-18,385322370600256,...,<NA>,,<NA>,<NA>,NaT,NaN,<NA>,NaN,,
35973,A,,,,E,,D,4519700004,2025-11-18,345322395439590,...,143,1C00,1,710,2025-11-18,10050.0,710,0.0,,

In [21]:
calculated = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=calculated_subdir,
)

2025-11-26 08:47:19,554 :: PID 25640 :: TID 26108 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-11-26 08:47:19,555 :: PID 25640 :: TID 26108 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-11-26 08:47:19,557 :: PID 25640 :: TID 26108 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-11-26 08:47:19,562 :: PID 25640 :: TID 26108 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database

In [22]:
calculated

,ardef_country,authorization_code_valid,b2b_program_id,business_mode,business_transaction_type,fast_funds,funding_source,issuer_bin_8,issuer_country,issuer_region,...,jurisdiction_region,nnss_indicator,product_id,product_subtype,reversal_indicator,source_currency_code_alphabetic,technology_indicator,timeliness,transaction_code_sms,travel_indicator
0,SA,INVALID,,A,249.0,Y,D,44246300,SA,6,...,7,Y,F,,0,ZAR,A,1,,
1,SA,INVALID,,A,249.0,Y,D,44246300,SA,6,...,7,Y,F,,0,ZAR,A,1,,
2,CD,INVALID,,A,249.0,Y,D,42047300,CD,6,...,7,,F,,0,ZAR,A,1,,
3,NA,VALID,,A,22.0,Y,D,40282404,NA,6,...,7,,F,,1,ZAR,A,1,27,
4,UG,VALID,,A,22.0,Y,D,48400210,UG,6,...,7,Y,N,,1,ZAR,A,1,27,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,CA,VALID,,A,22.0,Y,D,58929713,CA,2,...,7,Y,E,,0,ZAR,,0,07,
35970,CA,VALID,,A,22.0,Y,D,45190138,CA,2,...,7,,E,,0,ZAR,,0,07,
35971,CA,VALID,,A,22.0,Y,D,45190347,CA,2,...,7,,E,,0,ZAR,,0,07,
35972,NZ,INVALID,,A,249.0,,D,50430100,NZ,4,...,7,Y,E,,0,ZAR,,0,,
35973,CA,VALID,,A,22.0,Y,D,45190120,CA,2,...,7,,E,,0,ZAR,,0,07,

In [ ]:
interchange = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=interchange_subdir,
)

In [24]:
merged_data = transactions.join(calculated, how="left", lsuffix="_baseii")
# merged_data = merged_data.join(interchange, how="left", rsuffix="_intelica")

In [25]:
merged_data

,issuer_acquirer_indicator,mvv_code,remote_terminal_indicator,charge_indicator,product_id_sms,business_application_identifier,account_funding_source,affiliate_id,settlement_date_sms,draft_identifier_sms,...,jurisdiction_region,nnss_indicator,product_id,product_subtype,reversal_indicator,source_currency_code_alphabetic,technology_indicator,timeliness,transaction_code_sms,travel_indicator
record,,,,,,,,,,,,,,,,,,,,,
0,A,,,,F,,D,4424630002,2025-11-18,385321443675101,...,7,Y,F,,0,ZAR,A,1,,
1,A,,,,F,,D,4424630002,2025-11-18,385321445950920,...,7,Y,F,,0,ZAR,A,1,,
2,A,,,,F,,D,7374180002,2025-11-18,385321456835123,...,7,,F,,0,ZAR,A,1,,
3,A,,,,F,,D,4028240002,2025-11-18,585321463117068,...,7,,F,,1,ZAR,A,1,27,
4,A,,,,N,,D,4840020002,2025-11-18,385321464460423,...,7,Y,N,,1,ZAR,A,1,27,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,A,,,,E,,D,4529010004,2025-11-18,345322343424710,...,7,Y,E,,0,ZAR,,0,07,
35970,A,,,,E,,D,4519700004,2025-11-18,355322351475509,...,7,,E,,0,ZAR,,0,07,
35971,A,,,,E,,D,4519700004,2025-11-18,585322351546438,...,7,,E,,0,ZAR,,0,07,
35972,A,,,,E,,D,4786890004,2025-11-18,385322370600256,...,7,Y,E,,0,ZAR,,0,,
35973,A,,,,E,,D,4519700004,2025-11-18,345322395439590,...,7,,E,,0,ZAR,,0,07,

In [ ]:
fs.write_parquet(merged_data, target_layer, client_id, file_id, subdir=target_subdir)