In [1]:
from interchange.persistence.file import FileStorage
from interchange.visa import transform, extract, clean, calculate, interchange, store

layer = FileStorage.Layer

In [2]:
client_id = "SBSA"
file_id = "B6781ADDCFE0CD800BFA2968A6ED2816"

In [3]:
origin_layer = layer.STAGING
target_layer = layer.OPERATIONAL
client_id = client_id
file_id = file_id
transactions_subdir = "300-SMS_CLN_MESSAGES"
calculated_subdir = "400-SMS_CAL_MESSAGES"
interchange_subdir = "500-SMS_ITX_MESSAGES"
target_subdir = "SMS_MESSAGES"

In [4]:
print(
    origin_layer,
    target_layer,
    client_id,
    file_id,
    transactions_subdir,
    calculated_subdir,
    interchange_subdir,
    target_subdir,
)

staging operational SBSA B6781ADDCFE0CD800BFA2968A6ED2816 300-SMS_CLN_MESSAGES 400-SMS_CAL_MESSAGES 500-SMS_ITX_MESSAGES SMS_MESSAGES

In [5]:
from interchange.logs.logger import Logger
from interchange.persistence.file import FileStorage


log = Logger(__name__)
fs = FileStorage()

In [6]:
transactions = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=transactions_subdir,
)

2025-12-03 09:02:14,393 :: PID 5208 :: TID 2228 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-12-03 09:02:14,394 :: PID 5208 :: TID 2228 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-12-03 09:02:14,398 :: PID 5208 :: TID 2228 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-12-03 09:02:14,400 :: PID 5208 :: TID 2228 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database

In [7]:
transactions

,issuer_acquirer_indicator,mvv_code,remote_terminal_indicator,charge_indicator,product_id_sms,business_application_identifier,account_funding_source,affiliate_id,settlement_date_sms,draft_identifier_sms,...,application_draft_counter,application_interchange_profile_sms,cryptogram_draft_type,terminal_country_code,terminal_draft_date,cryptogram_amount,cryptogram_currency_code,cryptogram_cashback_amount,issuer_discretionary_data,issuer_script_results_sms
record,,,,,,,,,,,,,,,,,,,,,
0,A,,,,F,,D,4424630002,2025-11-18,385321443675101,...,0,,0,0,NaT,0.0,0,0.0,,
1,A,,,,F,,D,4424630002,2025-11-18,385321445950920,...,0,,0,0,NaT,0.0,0,0.0,,
2,A,,,,F,,D,7374180002,2025-11-18,385321456835123,...,0,,0,0,NaT,0.0,0,0.0,,
3,A,,,,F,,D,4028240002,2025-11-18,585321463117068,...,233,,0,0,NaT,0.0,0,0.0,,
4,A,,,,N,,D,4840020002,2025-11-18,385321464460423,...,293,,0,0,NaT,0.0,0,0.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,A,,,,E,,D,4529010004,2025-11-18,345322343424710,...,60,1800,1,710,2025-11-18,5050.0,710,0.0,,
35970,A,,,,E,,D,4519700004,2025-11-18,355322351475509,...,14,1800,1,710,2025-11-18,2500.0,710,0.0,,
35971,A,,,,E,,D,4519700004,2025-11-18,585322351546438,...,3,1800,1,710,2025-11-18,1550.0,710,0.0,,
35972,A,,,,E,,D,4786890004,2025-11-18,385322370600256,...,<NA>,,<NA>,<NA>,NaT,NaN,<NA>,NaN,,
35973,A,,,,E,,D,4519700004,2025-11-18,345322395439590,...,143,1C00,1,710,2025-11-18,10050.0,710,0.0,,

In [8]:
calculated = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=calculated_subdir,
)

2025-12-03 09:02:14,707 :: PID 5208 :: TID 2228 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-12-03 09:02:14,708 :: PID 5208 :: TID 2228 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-12-03 09:02:14,710 :: PID 5208 :: TID 2228 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-12-03 09:02:14,712 :: PID 5208 :: TID 2228 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database

In [9]:
calculated

,acquirer_bin,ardef_country,authorization_code_valid,b2b_program_id,business_mode,business_transaction_type,fast_funds,funding_source,issuer_bin_8,issuer_country,...,processing_code_transaction_type,product_id,product_subtype,reversal_indicator,source_amount,source_currency_code_alphabetic,technology_indicator,timeliness,transaction_code_sms,travel_indicator
0,532114,SA,INVALID,,Acquiring,249.0,Y,D,44246300,SA,...,01,F,,0,2000.0,ZAR,A,1,,
1,532114,SA,INVALID,,Acquiring,249.0,Y,D,44246300,SA,...,01,F,,0,5000.0,ZAR,A,1,,
2,532114,CD,INVALID,,Acquiring,249.0,Y,D,42047300,CD,...,01,F,,0,850.0,ZAR,A,1,,
3,532114,NA,VALID,,Acquiring,22.0,Y,D,40282404,NA,...,01,F,,1,10050.0,ZAR,A,1,27,
4,532114,UG,VALID,,Acquiring,22.0,Y,D,48400210,UG,...,01,N,,1,1000.0,ZAR,A,1,27,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,532211,CA,VALID,,Acquiring,22.0,Y,D,58929713,CA,...,01,E,,0,5050.0,ZAR,,0,07,
35970,532211,CA,VALID,,Acquiring,22.0,Y,D,45190138,CA,...,01,E,,0,2500.0,ZAR,,0,07,
35971,532211,CA,VALID,,Acquiring,22.0,Y,D,45190347,CA,...,01,E,,0,1550.0,ZAR,,0,07,
35972,532212,NZ,INVALID,,Acquiring,249.0,,D,50430100,NZ,...,01,E,,0,1000.0,ZAR,,0,,
35973,532212,CA,VALID,,Acquiring,22.0,Y,D,45190120,CA,...,01,E,,0,10050.0,ZAR,,0,07,

In [10]:
interchange = fs.read_parquet(
    origin_layer,
    client_id,
    file_id,
    subdir=interchange_subdir,
)

2025-12-03 09:02:14,796 :: PID 5208 :: TID 2228 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-12-03 09:02:14,797 :: PID 5208 :: TID 2228 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-12-03 09:02:14,799 :: PID 5208 :: TID 2228 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-12-03 09:02:14,801 :: PID 5208 :: TID 2228 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database

In [11]:
merged_data = transactions.join(calculated, how="left", lsuffix="_sms")
merged_data = merged_data.join(interchange, how="left", rsuffix="_intelica")

In [12]:
merged_data

,issuer_acquirer_indicator,mvv_code,remote_terminal_indicator,charge_indicator,product_id_sms,business_application_identifier,account_funding_source,affiliate_id,settlement_date_sms,draft_identifier_sms,...,interchange_fee_currency,interchange_fee_variable,interchange_fee_fixed,interchange_fee_min,interchange_fee_cap,exchange_value,interchange_fee_fixed_source,interchange_fee_min_source,interchange_fee_cap_source,interchange_fee_amount
record,,,,,,,,,,,,,,,,,,,,,
0,A,,,,F,,D,4424630002,2025-11-18,385321443675101,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
1,A,,,,F,,D,4424630002,2025-11-18,385321445950920,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
2,A,,,,F,,D,7374180002,2025-11-18,385321456835123,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
3,A,,,,F,,D,4028240002,2025-11-18,585321463117068,...,,0.0015,NaN,NaN,NaN,NaN,0.0,-inf,inf,15.075
4,A,,,,N,,D,4840020002,2025-11-18,385321464460423,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,A,,,,E,,D,4529010004,2025-11-18,345322343424710,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
35970,A,,,,E,,D,4519700004,2025-11-18,355322351475509,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
35971,A,,,,E,,D,4519700004,2025-11-18,585322351546438,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
35972,A,,,,E,,D,4786890004,2025-11-18,385322370600256,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000
35973,A,,,,E,,D,4519700004,2025-11-18,345322395439590,...,,0.0000,NaN,NaN,NaN,NaN,0.0,-inf,inf,0.000

In [13]:
fs.write_parquet(merged_data, target_layer, client_id, file_id, subdir=target_subdir)

2025-12-03 09:02:15,142 :: PID 5208 :: TID 2228 :: file.write_parquet :: Line 128 :: DEBUG :: Writing SBSA file B6781ADDCFE0CD800BFA2968A6ED2816 to parquet
2025-12-03 09:02:15,146 :: PID 5208 :: TID 2228 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-12-03 09:02:15,148 :: PID 5208 :: TID 2228 :: database.read_records :: Line 138 :: DEBUG :: Attempting to execute SELECT SQL statement
2025-12-03 09:02:15,149 :: PID 5208 :: TID 2228 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully
2025-12-03 09:02:15,151 :: PID 5208 :: TID 2228 :: database._close_connection :: Line 44 :: DEBUG :: Closed connection to SQLite database