In [3]:
from interchange.persistence.database import Database
db = Database()

2025-11-20 08:59:59,985 :: PID 17772 :: TID 25040 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database

In [9]:
sql_statement = 'PRAGMA table_info(client);'
query= db._execute(sql_statement)
query

2025-11-20 09:17:28,876 :: PID 17772 :: TID 25040 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully

[(0, 'client_id', 'TEXT', 0, None, 0),
 (1, 'client_name', 'TEXT', 0, None, 0),
 (2, 'file_mc_block_in', 'BOOLEAN', 0, None, 0),
 (3, 'file_mc_block_out', 'BOOLEAN', 0, None, 0),
 (4, 'file_mc_encoding_in', 'TEXT', 0, None, 0),
 (5, 'file_mc_encoding_out', 'TEXT', 0, None, 0),
 (6, 'file_iar_block', 'BOOLEAN', 0, None, 0),
 (7, 'file_iar_encoding', 'TEXT', 0, None, 0),
 (8, 'local_currency_code', 'TEXT', 0, None, 0),
 (9, 'settlement_currency_code', 'TEXT', 0, None, 0),
 (10, 'report_currency_code', 'TEXT', 0, None, 0),
 (11, 'issuing_bins_6_digits', 'TEXT', 0, None, 0),
 (12, 'issuing_bins_8_digits', 'TEXT', 0, None, 0),
 (13, 'acquiring_bins', 'TEXT', 0, None, 0),
 (14, 'customer_country', 'TEXT', 0, None, 0),
 (15, 'duplicate_on_us_flag_visa', 'BOOLEAN', 0, None, 0),
 (16, 'duplicate_on_us_flag_mastercard', 'BOOLEAN', 0, None, 0)]

In [25]:
# sql_statement = "DELETE FROM client WHERE client_id in ('NXGR','SBSA');"
sql_statement = "SELECT * FROM client;"
query= db._execute(sql_statement)
query

2025-11-20 09:39:40,878 :: PID 17772 :: TID 25040 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully

[('DEMO',
  'Demo Client',
  'TRUE',
  'TRUE',
  'cp500',
  'cp500',
  'TRUE',
  'cp500',
  'DOP',
  'USD',
  'DOP',
  None,
  None,
  None,
  'DOM',
  'FALSE',
  'FALSE'),
 ('NXGR',
  'Nexi Group Greece',
  'FALSE',
  'FALSE',
  'Latin-1',
  'cp500',
  'TRUE',
  'Latin-1',
  'EUR',
  'EUR',
  'EUR',
  None,
  None,
  None,
  'GRC',
  'FALSE',
  'FALSE'),
 ('SBSA',
  'Standard Bank South Africa',
  'FALSE',
  'FALSE',
  'cp500',
  'cp500',
  'TRUE',
  'cp500',
  'ZAR',
  'USD',
  'ZAR',
  None,
  None,
  None,
  'ZAF',
  'TRUE',
  'TRUE')]

In [24]:
db.create_records(
    table_name="client",
    fields=[
        "client_id",
        "client_name",
        "file_mc_block_in",
        "file_mc_block_out",
        "file_mc_encoding_in",
        "file_mc_encoding_out",
        "file_iar_block",
        "file_iar_encoding",
        "local_currency_code",
        "settlement_currency_code",
        "report_currency_code",
        # "issuing_bins_6_digits",
        # "issuing_bins_8_digits",
        # "acquiring_bins",
        "customer_country",
        "duplicate_on_us_flag_visa",
        "duplicate_on_us_flag_mastercard",
    ],
    values=[
        [
            "NXGR",
            "Nexi Group Greece",
            "FALSE",              # FALSE -> 0 (int)
            "FALSE",              # FALSE -> 0 (int)
            "Latin-1",
            "cp500",
            "TRUE",              # TRUE -> 1 (int)
            "Latin-1",
            "EUR",
            "EUR",
            "EUR",
            # "NULL",         # None -> "NULL" (string literal)
            # "NULL",         # None -> "NULL" (string literal)
            # "NULL",         # None -> "NULL" (string literal)
            "GRC",
            "FALSE",              # FALSE -> 0 (int)
            "FALSE",              # FALSE -> 0 (int)
        ],
        [
            "SBSA",
            "Standard Bank South Africa",
            "FALSE",              # FALSE -> 0 (int)
            "FALSE",              # FALSE -> 0 (int)
            "cp500",
            "cp500",
            "TRUE",              # TRUE -> 1 (int)
            "cp500",
            "ZAR",
            "USD",
            "ZAR",
            # "NULL",         # None -> "NULL" (string literal)
            # "NULL",         # None -> "NULL" (string literal)
            # "NULL",         # None -> "NULL" (string literal)
            "ZAF",
            "TRUE",              # FALSE -> 0 (int)
            "TRUE",              # FALSE -> 0 (int)
        ]        
    ],
)

2025-11-20 09:39:36,109 :: PID 17772 :: TID 25040 :: database.create_records :: Line 114 :: DEBUG :: Attempting to execute INSERT SQL statement
2025-11-20 09:39:36,116 :: PID 17772 :: TID 25040 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully