In [1]:
import numpy as np
import pandas as pd

from interchange.logs.logger import Logger
from interchange.persistence.database import Database
from interchange.persistence.file import FileStorage

In [2]:
db = Database()
db._execute("""
DELETE FROM visa_ardef
;""",
True)

2025-12-04 08:56:41,382 :: PID 20964 :: TID 27404 :: database._create_connection :: Line 33 :: DEBUG :: Connected to SQLite database
2025-12-04 08:56:41,782 :: PID 20964 :: TID 27404 :: database._execute :: Line 57 :: DEBUG :: SQL statement executed successfully

[]

In [3]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('persistence/backup/interchange.db')
cursor = conn.cursor()

In [10]:
df = pd.read_csv(
    "C:/GITHUB_REPOS/visa_ardef_20251203_final.csv",
    keep_default_na=False,
    na_values=[
        "",
        "#N/A",
        "#N/A N/A",
        "#NA",
        "-1.#IND",
        "-1.#QNAN",
        "-NaN",
        "1.#IND",
        "1.#QNAN",
        "N/A",
        "NULL",
        "NaN",
        "n/a",
        "nan",
        "null",
    ],
)

In [11]:
len(df)

1039963

In [12]:
df.to_sql("visa_ardef", conn, if_exists="append", index=False)

conn.commit()
conn.close()